# shellcheck disable=SC1000-SC9999
name: Continuous Integration Entry

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:

test-docker:
    name: Docker Tests
    runs-on: ubuntu-latest

    # Run a local registry to push to
    services:
      registry:
        image: registry:2
        ports:
          - 5001:5000

    env:
      TEST_TAG: localhost:5001/sustainable_computing_io/aws_ec2_self_hosted_runner:latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Docker BuildX
        id: setup-buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver-opts: network=host

      - name: Build the Container
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.TEST_TAG }}

  unitpreOS:
    strategy:
      matrix:
      # us-east-2
      # Ubuntu 20.04 AMI is ami-0e4d0bb9670ea8db0
      # ubuntu 22.04 AMI is ami-05fb0b8c1424f266b 
      # RHEL 9       AMI is ami-078cbc4c2d057c244
        AMI_ID: [ami-0e4d0bb9670ea8db0,ami-05fb0b8c1424f266b,ami-078cbc4c2d057c244]
    uses: ./.github/workflows/ci_unit.yml
    secrets:
        AWS_REGION: ${{ secrets.AWS_REGION }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        GH_SELF_HOSTED_RUNNER_TOKEN: ${{ secrets.GH_SELF_HOSTED_RUNNER_TOKEN }}
        AWS_SECURITY_GROUP_ID: ${{ secrets.AWS_SECURITY_GROUP_ID }}
        AMI_ID:  ${{matrix.AMI_ID}}
   